@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    font-family: 'Montserrat', sans-serif;

}
header{
    width: 100%;
    height: auto;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;

}
#logo{
    margin-inline: 30px;
    
}
.menu{
    height: 30px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
}

.menu p{
    margin-right: 30px;
    font-size: 14px;
}

.menu p:hover{
    color: #eafe01;
    border-bottom: 3px solid #eafe01;
}

.login{
    width: 300px;
    height: auto;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    font-size: 11px;  
}

.login p{
    width: auto;
    margin-right: 30px;
    display: flex;
    align-items: center;
}

.login p:hover{
    color: #eafe01;
    border-bottom: 3px solid #eafe01;
 
}
#registro{
    background-color: #eafe01;
    color: black;
    border-radius: 50px;
    width: 120px;
    font-size: 11px;
    padding: 10px 0;
}

#one-section{
width: 100%;
height: auto;
display: flex;
color:aliceblue;
}

#left-section{
color: white;
padding: 120px 20px 20px 120px;
}
#left-section h1{
    font-size: 3.5rem;
    padding: 10px 751px 0px 0px;
    width: 27rem;
}
#left-section p{
    font-size: 1rem;
    padding: 10px 0px 20px 0px;
    width: 27rem;
}
#right-section{
    height: 100%;
}
.boton{
    background-color: #eafe01;
    color: black;
    border-radius: 5rem;
    width: 10.5rem;
    height: 2.5rem;
    font-weight: bold;
    border: transparent;
}
#two-section{
    width: auto;
    height: auto;
    color:aliceblue;
}
.subtitulos{
    font-size: 3rem;
    color: white;
}
#one-div-two-section{
    width: 45rem;
    padding: 8rem ;
    justify-content: space-around;
    align-items: center;
}
.text-slogan{
    margin-left: 90px;
    line-height: 1.5rem;
}
.text-page{
    font-size: 1rem;
    color: aliceblue;

}

#contend-target{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.target{
    width: 17rem;
    padding-bottom: 5rem;
}
#div-boton{
    padding-left: 7.5rem;
}
.three-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.section-information{
    width: 21rem;
}

.more-information{
    width: 15rem;
    color: #e9e64b;
    font-size: 1rem;
    padding-top: 1rem;
    border-bottom: 0.1rem solid #e9e64b;
}
.information{
    display: flex;   
    width: 32rem;
}
.information img{
    padding: 2.5rem 2.5rem 0 0;
   
}
.server{
    font-size: 1rem;
    color:#eafe01;
    padding: 2.5rem  0 1rem 0;

}

.four-section{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.section-plaza{
    width: 45rem;
}
.section-plaza img{
    padding: 12rem 5rem 0 9rem ;
}

.lineas{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lineas p{
    margin-right: 30px;
    padding: 2rem;
    margin-bottom: 5rem;
    border-bottom: 0.2rem solid rgb(233, 225, 225);
}

.lineas p:hover{
    border-bottom: 3px solid #eafe01;
}

.five-section{
    padding-top: 3.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.section-alcances{
    padding: 0 0 3rem  5.5rem;
}
.information-sect-five{
    display: flex;
    justify-content: space-around;
    align-items: center;
}